*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.clear{
    clear: both;
}
h1{
    font-size: 1rem;
}
h2{
    font-size: 3.6rem;
    padding: 5rem 0rem;
}
a{
    text-decoration: none;
    color: white;
    font-size: 2.4rem;
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    font-size: 2.8rem;
}
button{
    font-size: 1.8rem;
}
nav{
    background-color: rgb(242, 132, 6);
    color: white;
    padding: 5rem;
}
nav h1{
    float: left;
}

nav li {
    float: right ;
    margin: 4rem 4rem;
   list-style-type: none;
}
a{
    text-align: center;
}
nav img{
    width: 7rem;
    height: 7rem;
}
.hero-section {
    background-image:url("/image2/background.jpg");
    height: 80rem;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    padding-top: 10rem;
    padding-bottom: 5rem;
    text-shadow: 3px 3px 10px black;
}
.hero-section button {
padding: 1rem 4rem;
margin-top: 4rem;
border: none ; 
background-color: rgb(44, 71, 245);
color: white;
cursor: pointer;
}

.container img
{
    width: 400px;
    height: 450px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px; 
}

.gallery{
    display: flex;
    gap: 5px;
}

.form-section{
    text-align: center;
}

form input,form label,form textarea{
    width: 50%;
    display: block;
    font-size: 2.4rem;
}
form input ,form textarea{
    margin: 2rem auto;
    width: 50%;
}
form button{
   margin-bottom: 10rem;
   border: none ; 
 background-color: rgb(44, 71, 245);
 color: white;
   cursor: pointer;
   width: 50%;
}




